[user]
	email = baptiste.wicht@gmail.com
	name = Baptiste Wicht
	editor = vim

[core]
	editor = vim
	autocrlf = input

[push]
	default = simple
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
